<!-- template driven form -->
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      ngModel
      name="firstName"
      #firstName="ngModel"
      id="firstName"
      (change)="log(firstName)"
      class="form-control"
      required
      minlength="5"
      pattern="banana"
    />
    <div
      *ngIf="firstName.touched && !firstName.valid"
      class="alert alert-danger"
    >
      <div *ngIf="firstName.errors.required">
        First Name is required.
      </div>
      <div *ngIf="firstName.errors.minlength">
        min length should be greater than 5
      </div>
      <div *ngIf="firstName.errors.pattern">
        Pattern is not matching
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      class="form-control"
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      ngModel
      #comment="ngModel"
      required
      (change)="log(comment)"
    ></textarea>
    <div *ngIf="comment.touched && !comment.valid" class="alert alert-danger">
      Comment is Required
    </div>
  </div>
  <div class="checkbox">
    <label for="remember_me">
      <input
        type="checkbox"
        ngModel
        name="remember_me"
        id="remember_me"
        #rememberMe="ngModel"
      />
      Remember Me
    </label>
  </div>
  <div class="form-group">
    <select
      multiple
      ngModel
      name="fav_fruit"
      id="fav_fruit"
      class="form-control"
    >
      <option *ngFor="let fruit of fruits" [ngValue]="fruit">
        {{ fruit.name }}</option
      >
    </select>
  </div>

  <div *ngFor="let fruit of fruits" class="radio">
    <label>
      <input type="radio" name="fav_fruit" ngModel [value]="fruit.id" />{{
        fruit.name
      }}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
<!-- end template drive form -->
